
<h1 class="animated fadeIn fast">Sobre DC Comics App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum officiis reiciendis aut illum unde mollitia, accusamus, quisquam in quaerat iure architecto eligendi voluptas cupiditate quibusdam! Culpa sunt eaque eligendi reiciendis.</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae, necessitatibus labore dicta placeat nemo expedita tempore architecto aliquid dolorum quos maxime, quis incidunt eligendi saepe delectus consequuntur corporis est?</p>